---
---
<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Christina Ferris</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" type="image/png" href="/assets/favicon.png">
</head>
<body class="home-page">
  {% include nav.html %}
  <main>
    <img class="hero" id="hero" src="" alt="">
  </main>
  <footer class="visually-hidden">
    <p>Christina Ferris</p>
  </footer>

  <script>
    const heroImages = [
      { src: '/assets/images/hero/photo-1.jpg', alt: 'Purple desert flowers; taken in Tucson Arizona' },
      { src: '/assets/images/hero/photo-2.jpg', alt: 'Crow on a windy day, perched on a wooden fence; taken in Portland Oregon' },
      { src: '/assets/images/hero/photo-3.jpg', alt: 'Overlooking the Avon in Bath, U.K.; a rainbow in the distance' },
      { src: '/assets/images/hero/photo-4.jpg', alt: 'My German Shepherd dog, Nadja, smiling with big perky ears, reflected in the sideview mirror of the car, sunset sky behind her' },
      { src: '/assets/images/hero/photo-5.jpg', alt: 'My husband and my dog, small silhouettes at Cannon Beach, Oregon' }
    ];
    const chosen = heroImages[Math.floor(Math.random() * heroImages.length)];
    const hero = document.getElementById('hero');
    hero.src = chosen.src;
    hero.alt = chosen.alt;
  </script>
</body>
</html>
